<!DOCTYPE HTML>
<!--
	Phase Shift by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
>

<head>
	<title>Phase Shift by TEMPLATED</title>
	<meta http-equiv="content-type" content="text; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
	<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/jquery.dropotron.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/skel.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/skel-layers.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/init.js')}}"></script>

	<link rel='stylesheet' type="text/css" href="{{ url_for('static',filename='css/skel.css')}}">
	<link rel='stylesheet' type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
	<link rel='stylesheet' type="text/css" href="{{ url_for('static',filename='css/style-wide.css')}}">

	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
</head>

<body>

	<!-- Wrapper -->
	<div class="wrapper style1">

		<!-- Header -->
		<div id="header" class="skel-panels-fixed">
			<div id="logo">
				<h1><a href="{{url_for('index')}}">STOCK</a></h1>
				<span class="tag">THE COLLECTOR</span>
			</div>
		</div>

		<!-- Extra -->
		<div id="extra">
			<div class="container">
				<div class="row no-collapse-1">
					<section class="4u"> <a href="/stock_chart/2883" class="image featured">
							<img src="{{ url_for('static',filename='images/pic01.jpg')}}"></a>
						<div class="box">
							<h1>1</h1>
							<a href="/stock_chart/2883" class="button">詳細資料</a>
						</div>
					</section>
					<section class="4u"> <a href="/stock_chart/3706" class="image featured"><img
								src="{{ url_for('static',filename='images/pic01.jpg')}}"></a>
						<div class="box">
							<h1>2</h1>
							<a href="/stock_chart/3706" class="button">詳細資料</a>
						</div>

					</section>
					<section class="4u"> <a href="/stock_chart/2882" class="image featured"><img
								src="{{ url_for('static',filename='images/pic01.jpg')}}"></a>
						<div class="box">
							<h1>3</h1>
							<a href="/stock_chart/2882" class="button">詳細資料</a>
						</div>
					</section>
					<section class="4u"> <a href="/stock_chart/5519" class="image featured">
							<img src="{{ url_for('static',filename='images/pic01.jpg')}}"></a>
						<div class="box">
							<h1>4</h1>
							<a href="/stock_chart/5519" class="button">詳細資料</a>
						</div>
					</section>
					<section class="4u"> <a href="/stock_chart/2834" class="image featured">
							<img src="{{ url_for('static',filename='images/pic01.jpg')}}"></a>
						<div class="box">
							<h1>5</h1>
							<a href="/stock_chart/2834" class="button">詳細資料</a>
						</div>
					</section>
					<section class="4u"> <a href="/stock_chart/2889" class="image featured">
							<img src="{{ url_for('static',filename='images/pic01.jpg')}}"></a>
						<div class="box">
							<h1>6</h1>
							<a href="/stock_chart/2889" class="button">詳細資料</a>
						</div>
					</section>
					<section class="4u"> <a href="/stock_chart/1904" class="image featured">
						<img src="{{ url_for('static',filename='images/pic01.jpg')}}"></a>
						<div class="box">
							<h1>7</h1>
							<a href="/stock_chart/1904" class="button">詳細資料read more</a>
						</div>
					</section>
					<section class="4u"> <a href="/stock_chart/2317" class="image featured">
						<img src="{{ url_for('static',filename='images/pic01.jpg')}}"></a>
						<div class="box">
							<h1>8</h1>
							<a href="/stock_chart/2317" class="button">詳細資料</a>
						</div>
					</section>
					<section class="4u"> <a href="/stock_chart/2885" class="image featured"><img
								src="{{ url_for('static',filename='images/pic01.jpg')}}"></a>
						<div class="box">
							<h1>9</h1>
							<a href="/stock_chart/2885" class="button">詳細資料</a>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>

	<!-- Copyright -->
	<div id="copyright">
		<div class="container">
			<div class="copyright">
				<p>Design by TEAM3</p>
				<ul class="icons">
					<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
				</ul>
			</div>
		</div>
	</div>

</body>

</html>